@inherits LayoutComponentBase

<div>
    <CbarRatesApp.Components.ZgNavBar Links="links"/>
    <main>
        <article>
            @Body
        </article>
    </main>
    <footer class="bg-body-tertiary py-4 mt-5">
        <div class="container">
            <p>
                zaur.dev
            </p>
        </div>
    </footer>
</div>

@code{
    Dictionary<string, string> links;

    protected override void OnInitialized()
    {
        links = new Dictionary<string, string>
        {
            //{ "Home", "/" },
            { "Currency info", "info" },
            //{ "About", "about" },
        };
    }
}