@inherits LayoutComponentBase

<div>
    <CbarRatesApp.Components.ZgNavBar Links="links"/>
    <main>
        <article>
            @Body
        </article>
    </main>
</div>

@code{
    Dictionary<string, string> links;

    protected override void OnInitialized()
    {
        links = new Dictionary<string, string>
        {
            { "Home", "/" },
            { "Docs", "docs" },
            { "About", "about" },
        };
    }
}