@page "/"

@*@implements IDisposable*@
@inject EventBroker broker

<PageTitle>AZN FX Rates</PageTitle>

<div class="container">

    <div class="row mt-4">
        <div class="col">
            <CbarRatesApp.Components.ZgDailyRatesView />
        </div>
    </div>
</div>

@code {
    //string selectedCurrencyCode = "EUR";

    //protected override void OnInitialized()
    //{
    //    broker.CurrencySelected += SetCurrentCurrency;
    //}

    //private void SetCurrentCurrency(object sender, CurrencySelectedEventArgs e)
    //{
    //    selectedCurrencyCode = e.SelectedCurrencyCode;
    //    StateHasChanged();
    //}

    //public void Dispose()
    //{
    //    broker.CurrencySelected -= SetCurrentCurrency;
    //}
}