@page "/"

<PageTitle>CBAR rates</PageTitle>

<div class="container-fluid">
    <div class="d-flex justify-content-center mt-4">
        <CbarRatesApp.Components.ZgDailyRatesView />
    </div>
</div>
