@page "/"

<PageTitle>CBAR rates</PageTitle>
<br />
<br />

<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <CbarRatesApp.Components.ZgDailyRatesView />
    </div>
</div>
