@page "/info"

    <div class="container-fluid">
        <CbarRatesApp.Components.ZgCurrencyView CurrencyCode="@CurrencyCode" />
    </div>



@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public string CurrencyCode { get; set; }
}