@page "/info"

<PageTitle>AZN FX Rates</PageTitle>

    <div class="container">
        <CbarRatesApp.Components.ZgCurrencyView CurrencyCode="@CurrencyCode" />
    </div>



@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public string CurrencyCode { get; set; }
}