@page "/Test"

<div class="container-fluid">
    <h1>Test heading</h1>
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Currency</th>
                        <th scope="col">Code</th>
                        <th scope="col">Rate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1 ABŞ dolları</td>
                        <td>USD</td>
                        <td>1.7000</td>
                        <td><span class="oi oi-arrow-top" aria-hidden="true"></span></td>
                    </tr>
                    <tr>
                        <td>1 Avro</td>
                        <td>EUR</td>
                        <td>1.8104</td>
                        <td><span class="oi oi-arrow-bottom" aria-hidden="true"></span></td>
                    </tr>
                    <tr>
                        <td>1 Avstraliya dolları</td>
                        <td>AUD</td>
                        <td>1.1415</td>
                        <td><span class="oi oi-media-record" aria-hidden="true"></span></td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
    
</div>


@code {

}
