@using FxCore.Models;

<table class="table table-striped table-responsive-sm caption-top">
    <caption>All currencies quoted against the AZN (base currency).</caption>
    <thead>
        <tr>
            <th scope="col">Currency</th>
            <th scope="col">Code</th>
            <th scope="col">Rate</th>
            <th scope="col">24h change</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (var item in Rates)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Code</td>
                <td>@item.Value</td>
                <td>@item.Difference</td>
                @if (item.Difference < 0)
                {
                    <td><span class="oi oi-arrow-bottom text-danger" aria-hidden="true"></span></td>
                }else if(item.Difference > 0)
                {
                    <td><span class="oi oi-arrow-top text-success" aria-hidden="true"></span></td>
                }else
                {
                    <td><span class="oi oi-minus" aria-hidden="true"></span></td>
                }
            </tr>
        }
    </tbody>
</table>


@code {

    [Parameter, EditorRequired]
    public List<Rate> Rates { get; set; }
}
