<div class="d-flex justify-content-center align-items-center" style="min-height:100px">
    <div class="cascade">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

@code {

}
