<nav class="zg-navbar zg-navbar-sticky zg-light">
    <div class="zg-navbar-container">
        <a class="zg-navbar-brand" href="#">Rates</a>

        <ul class="zg-nav">
            <li class="">
                <a class="zg-nav-link zg-active" href="#">Active</a>
            </li>
            <li class="">
                <a class="zg-nav-link" href="#">Link</a>
            </li>
            <li class="">
                <a class="zg-nav-link" href="#">Link</a>
            </li>
            <li class="">
                <a class="zg-nav-link zg-disabled">Disabled</a>
            </li>
        </ul>
        <a class="zg-nav-link" href="#">Login</a>
    </div>
</nav>
<br />

@code {

}
