@inject IJSRuntime JS

<nav class="navbar navbar-expand-lg  sticky-top" id="nav">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><i class="bi bi-currency-exchange"></i> AZN FX rates</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                @if (Links != null)
                {
                    foreach (var item in Links)
                    {
                        <li class="nav-item">
                            <NavLink Match="NavLinkMatch.All" ActiveClass="active" class="nav-link" href=" @item.Value">@item.Key</NavLink>
                        </li>
                    }
                }
            </ul>
            <ZgThemeToggler />
        </div>
    </div>
</nav>

@code {

    [Parameter]
    public Dictionary<string, string>? Links { get; set; }
}
